.character {
    .title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        :not(:first-child) {
            margin-left: 0.5rem;
        }
    }

    .film:not(:first-child) {
        margin-top: 0.5rem;
    }
}

.go-back {
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    color: black;
}
